
<h2>
  The measurement of the sides of the triangle entered by you are <%= @side1 %>cms , <%= @side2 %>cms and
    <%= @side3 %>cms.
</h2>



<h2>Triangle Identification result:</h2>
    <%= @result %>
